#nav {
  margin-bottom: 20px;

  >.header {
      margin-bottom: 10px;

      >.title {
          font-size: 45px;
          line-height: 53px;
          color: #333;
          font-family: MaturaScriptCapitals;

          &:hover {
              opacity: .7;
          }
      }
  }

  >.ctnWrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      >.menu {
          // min-width: 320px;
          text-align: right;
      }

      @media screen and (max-width: 600px) {
          flex-direction: column;

          >.menu {
              text-align: center;
              margin-top: 10px;
          }
      }
  }

  .nav-menu {
      font-family: BebasNeue;
      font-size: 20px;
      line-height: 24px;
      color: #333;
      margin-left: 24px;
      display: inline-block;
      .underline{
          margin: 0 auto;
          width: 0;
          height: 2px;
          background: #336699;
          transition: all .2s linear;
      }

      &:hover, &:hover a{
          color: #336699;
      }
      &:hover{
          .underline{
              width: 100%;
          }
      }
      &.active{
          color: #336699;
          & a{
              color: #336699;
          }
          .underline{
              width: 100%;
          }
      }
  }

  .nav-icn {
      margin-right: 15px;
      line-height: 24px;

      &:last-child {
          margin-right: 0;
      }
  }

  @media screen and (max-width: 600px) {
      text-align: center;
      margin-bottom: 20px;

      >.ctnWrap {
          justify-content: space-around;
      }
  }
}